.centred-text {
  text-align: center;
}
.photo {
  width: 10%;
  height: 18%;
  border: 0.5rem solid #3cb371;
  margin-bottom: 2px;
}

@media (max-width: 720px) {
  .responsive-text {
    text-align: left;
  }

  .photo {
    width: 20%;
    height: 36%;
    border: 0.5rem solid #3cb371;
  }
}
