.title {
  margin-top: 5rem;
  margin-left: 15rem;
}

.centred-text {
  font-size: 1.5rem;
  margin: 3rem 7rem 0rem 7rem;
  text-align: start;
}

.responsive-text {
  margin-top: 1rem;
  text-align: center;
}
.photo {
  width: 10%;
  height: 18%;
  border: 0.5rem solid #3cb371;
  margin-bottom: 2px;
}

@media (max-width: 720px) {
  .centred-text {
    font-size: 1rem;
    margin: 2rem 1rem 0rem 1rem;
    text-align: left;
  }

  .photo {
    width: 25%;
    height: 41%;
    border: 0.5rem solid #3cb371;
  }
  .title {
    margin-top: 7rem;
    margin-left: 0;
    text-align: center;
    font-size: 2rem;
  }
}
