.intro {
  margin-top: 5rem;
  margin-left: 12rem;
}

.input_field {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.position {
  display: flex;
  margin-right: 3rem;
}

body {
  background-color: #484848;
  color: white;
  height: 100%;
}

h1 {
  font-family: "Chilanka";
}
