@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Piedra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap");
.intro {
  margin-top: 5rem;
  margin-left: 15rem;
}

.main-title {
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro_border {
  border: 2px solid white;
  padding: 5px 5px;
}
.input_field {
  margin-top: 1rem;
  margin-bottom: 5px;
  /* margin-right: 2rem; */
  width: 6rem;
}
.form-control {
  width: 50%;
}
.position {
  display: flex;
  flex-direction: column;
  /* margin-right: 3rem; */
  /* height: 100%; */
}

body {
  /* background-image: linear-gradient(to right, #bf953f, #fcf6ba, #b38728); */
  background-color: #e8e8e8;
  color: black;
  height: 100%;
}

h1 {
  font-family: "Sansita Swashed", cursive;
  font-size: 3rem;
}

p {
  font-family: "Chilanka", cursive;
  perspective: 900px;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-family: "Piedra", cursive;
  font-size: 1rem;
}

.subject-field {
  width: 25.9rem;
  margin-bottom: 5px;
}

.background {
  background-color: white;
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.intro_project {
  margin-left: 14rem;
}

h4 {
  font-family: "Chilanka", cursive;
  font-weight: bold;
}

.tags > a {
  color: black;
  font-size: 1.5rem;
}

.button > button {
  background-color: #3cb371;
  padding: "5px 5px 5px 5px";
}

@media (max-width: 720px) {
  .main-title {
    font-size: 2rem;
  }
  .second-title {
    font-size: 1.5rem;
  }
}
