.side-bar {
  list-style: none;
  margin-top: 1rem;
  margin-right: 6rem;
  display: flex;
  justify-content: center;
}

.list_style {
  text-align: center;
  max-width: 1.5rem;
  max-height: 1.5rem;
  margin-left: 5rem;
}
li.list_style > a {
  text-decoration: none;
}

.background_colour {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.058823529411764705);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  position: fixed;
  width: 100%;
  z-index: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.058823529411764705);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.side-bar-footer {
  list-style: none;
  margin-top: 1rem;
  margin-right: 6rem;
  display: flex;
  justify-content: center;
}
