.side-bar {
  list-style: none;
  margin-top: 2rem;
  margin-right: 2.5rem;
}

.list_style {
  margin-top: 2rem;
  text-align: center;
}
li.list_style > a {
  text-decoration: none;
}

.background_colour {
  display: flex;
  flex-direction: column;
  /* background-color: darkgrey; */
}
